<ion-header class="flex items-center justify-between">
  <ion-toolbar>

    <ion-img slot="start" class="ml-0 w-12 h-12" src="assets/images/ct.png" alt="" ></ion-img>

  <ion-icon name="menu-sharp" class="text-black-500 text-4xl mr-3" slot="end"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1 class="ion-margin-bottom">Registration UnSuccessful!</h1>
    <p class="ion-margin-bottom">Your registration has not been completed. Please fill the form again.</p>
    <ion-button expand="block" (click)="navigateToForm()" class="ion-margin-top">Go To Registration Form</ion-button>
  </div>
</ion-content>
