<ion-header class="flex items-center justify-between">
  <ion-title>
    <ion-img class="ml-0 w-12 h-12" src="assets/images/ct.png" alt=""></ion-img>
  </ion-title>
  <ion-icon name="menu-sharp" class="text-black-500 text-4xl mr-3"></ion-icon>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1 class="ion-margin-bottom text-green-500 font-bold text-2xl">Your registration has been completed successfully.</h1>
    <ion-button expand="block" (click)="navigateToHomePage()" class="ion-margin-top">Go Back to Home</ion-button>
  </div>
</ion-content>
